<body>
    <header (city) = "getWeatherForecast($event)"></header>

    <middle [city]="city"></middle>
    
    <footer class="footer">
        <ul class="social-icon">

            <li class="social-icon__item"><a class="social-icon__link" href="https://t.me/MUWeatherBot">
                <i class="fa fa-telegram" style="font-size:36px"></i>
                </a></li>

            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fa fa-twitter" style="font-size:36px"></i>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fa fa-linkedin" style="font-size:36px"></i>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fa fa-instagram" style="font-size:36px"></i>
                </a></li>
        </ul>
    </footer>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>

